{% extends '../components/navbar.html' %} {% load static %} {% block title %}Login{% endblock title %} {% block content %}

<div class="text-center">
    <h2>Login</h2>
    <form action="" method="POST">
        {% csrf_token %} {{form.as_p}}
        <button class="btn btn-success" type="submit">Iniciar sesión</button> ó
        <button class="btn btn-success"><a href=""
                style="text-decoration-line: none; text-decoration-style: none; color: white;">Registrarme</a></button>
    </form>
    <hr>
    <p>Olvidé el pass porque soy un usuario amnésico?</p>
    <button class=" btn btn-success"><a href="{% url 'password_reset' %}"
            style="text-decoration-line: none; text-decoration-style: none; color: white;">Restablecer
            contraseña</a></button>
</div>



<center><img src="{% static 'static/img/media/cheems_con_palo.jpg' %}" alt=""></center>
{% include '../components/footer.html' %}{% endblock content %}