{% load i18n %}{% autoescape off %}
{% blocktrans %}Usted solicito el reseteo de su contraseña del sitio {{ site_name }}.{% endblocktrans %}

{% trans "Ingresar a la siguiente liga para restablecer:" %}
    {% block reset_link %}
        http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}
{% trans "Tu usuario, en caso que lo olvidaras:" %} {{ user.get_username }}

{% trans "Gracias por usar nuestro sitio!" %}

{% blocktrans %}El {{ site_name }} equipo{% endblocktrans %}

{% endautoescape %}