{% extends './components/navbar.html' %} {% block title %}Editar{% endblock %} {% load static %}{% block content %}
<div class="row">
    <center>
        <h1>Actualizar info</h1>
    </center>
    <div class="col-md-6" style="margin: 0 auto;">
        <form action="/updateuser/{{user.id}}">

            <div class="form-group">
                <label for="edad">Edad: </label>
                <input type="number" class="form-control" id="edad" name="edad" value="{{edad}}">
            </div>
            <div class="form-group">
                <label for="Telefono">Telefono: </label>
                <input type="text" class="form-control" id="Telefono" name="Telefono" value="{{Telefono}}">
            </div>


            <button type="submit" class="btn btn-primary" style="display: block;margin: 1rem auto;">Actualizar</button>
        </form>
    </div>
    <center><img src="{% static 'static/img/media/baby_doges_baseball.jpg' %}" alt="doge" style="width: 40%;"></center>
</div>

{% endblock content %}